#root {
  margin: 0;
  padding: 0;
}
.App {
  padding: 10px;
}

#scatter {
  height: 500px;
  width: 1000px;
  min-width: 200px;
  margin: 0 auto;
}
#bar {
  height: 500px;
  width: 1000px;
  min-width: 200px;
  margin: 0 auto;
}